{% include "header" %}

	<section class="forms">
    <div class="section group">
			<div class="col span_2_of_2">
				<h1>Forms</h1>
				<div class=" col span_2_of_2 insurance-form" style="padding-left: 5rem; padding-right: 5rem;">
					<p>Review and download the appropriate forms in advance of your first visit. Including New Pediatric Patient and New Adult Patient forms—available in both English and Spanish.</p>
				</div>
			</div>
		</div>
	</section>

	<!-- <section class="outer forms">
    <div class="section group">
    	<div class="col span_1_of_2 child-form">
				<h2>New Child<br />Patient Form</h2>
				<a href="/assets/ped_eye_md_new_pediatric_patient.pdf" target="_blank">
	 				<button class="standard-button">
	 					<h4>Download</h4>
	 				</button>
	 			</a>
			</div>
    	<div class="col span_1_of_2 adult-form">
				<h2>New Adult<br />Patient Form</h2>
				<a href="/assets/ped_eye_md_new_adult_patient_form.pdf" target="_blank">
	 				<button class="standard-button">
	 					<h4>Download</h4>
	 				</button>
	 			</a>
			</div>
		</div>
	</section>

	<section class="outer">
    <div class="section group">
    	<div class="col span_2_of_2 hoz-rule">
    	</div>
		</div>
	</section> -->

	<section class="outer forms">
		<h1>Pediatric / Pediátrico</h1>
    <div class="section group">
    	<div class="col span_1_of_2 insurance-form">
				<h2>New Pediatric Patient: English</h2>
			</div>
			<div class="col span_1_of_2 insurance-form">
				<a href="/assets/New Pediatric Patient English.pdf" target="_blank">
		 			<button class="standard-button">
		 				<h4>Download</h4>
		 			</button>
		 		</a>
			</div>
		</div>
	</section>

	<section class="outer">
    <div class="section group">
    	<div class="col span_2_of_2 hoz-rule">
    	</div>
		</div>
	</section>

		<section class="outer forms">
    <div class="section group">
    	<div class="col span_1_of_2 hippa-form">
				<h2>Nuevo Paciente Pediátrico: Espanol</h2>
			</div>
    	<div class="col span_1_of_2 hippa-form">
				<a href="/assets/New Pediatric Patient Spanish.pdf" target="_blank">
	 				<button class="standard-button">
	 					<h4>Download</h4>
	 				</button>
	 			</a>
			</div>
		</div>
	</section>
<section class="outer">
	<div class="section group">
		<div class="col span_2_of_2 hoz-rule">
		</div>
	</div>
</section>
<section class="outer forms">
	<h1>Adult Strabismus / Estrabismo de Adultos</h1>
</section>
<section class="outer forms">
<div class="section group">
	<div class="col span_1_of_2 hippa-form">
		<h2>New Adult Strabismus Patient: English</h2>
	</div>
	<div class="col span_1_of_2 hippa-form">
		<a href="/assets/New Adult Patient English.pdf" target="_blank">
			<button class="standard-button">
				<h4>Download</h4>
			</button>
		</a>
	</div>
</div>
</section>
<section class="outer">
<div class="section group">
<div class="col span_2_of_2 hoz-rule">
</div>
</div>
</section>

<section class="outer forms">
<div class="section group">
	<div class="col span_1_of_2 hippa-form">
		<h2>Nueva Estrabismo de Adultos Enfermos: Espanol</h2>
	</div>
	<div class="col span_1_of_2 hippa-form">
		<a href="/assets/New Adult Patient Spanish.pdf" target="_blank">
			<button class="standard-button">
				<h4>Download</h4>
			</button>
		</a>
	</div>
</div>
</section>
<section class="outer">
<div class="section group">
<div class="col span_2_of_2 hoz-rule">
</div>
</div>
</section>



	<section class="outer">
    <div class="section group">
    	<div class="col span_2_of_2 push">
    	</div>
		</div>
	</section>

	 <section class="email">
 		<div class="section group">
 			<div class="col span_1_of_2">
 			 	<h4>General Information</h4>
 			 	<a href="mailto:info@pediatriceyemd.com?subject=General Inquiry for PediatricEyeMD" target="_blank">
					<button class="standard-button">
					 	<h4>Email Us</h4>
					</button>
				 	</a>
				 	<h4 class="location-note">We cannot make appointments via e-mail – please call us.</h4>
 			</div>
 			<div class="col span_1_of_2">
 			 	<h4>Surgical Coordinator</h4>
 			 	<a href="mailto:surgery@pediatriceyemd.com?subject=Surgical Inquiry for PediatricEyeMD" target="_blank">
					<button class="standard-button">
					 	<h4>Email Us</h4>
					</button>
				 	</a>
				 	<h4 class="location-note">We cannot make appointments via e-mail – please call us.</h4>
 			</div>
 		<div>
 	</section>


{% include "footer" %}
