{% include "header" %}

	<section class="forms">
    <div class="section group">
			<div class="col span_2_of_2">
				<h1>Office Policies</h1>
			</div>
		</div>
	</section>

	<section class="policies">
		<section class="outer policy-post">
			<div class="section group">
				<div class="col span_1_of_2">
					<h2>Accepted Insurances</h2>
				</div>
				<div class="col span_1_of_2">
					<p>To see the current list of insurances accepted by Pediatric Eye MD, <a href="/insurances" target="_blank">click here.</a></p>
				</div>
			</div>
		</section>

		<section class="outer policy-post">
			<div class="section group">
				<div class="col span_1_of_2">
					<h2>Appointments</h2>
				</div>
				<div class="col span_1_of_2">
					<p>We see patients on an appointment-only basis and always make room for patients with emergencies. When making an appointment, we need to collect a lot of information—this allows us to make sure that all the insurance data is in place ahead of time and allows for faster processing once you arrive. We need the following information to schedule an appointment:</p>
					
					<ol class="bold-list">
						<li>The name, birth date, and address of the patient</li>
					 	<li>The name &amp; number of the insurance policy (or policies)</li>
					 	<li>The name and number of the referring doctor</li>
					 	<li>The phone numbers where the parent(s) can be reached</li>
					</ol>
					
					<p>Please arrive 10-15 minutes PRIOR to your appointment time so that you can answer some questions and allow us to make certain that all the insurance details are in place. Whenever someone calls to schedule an appointment they are informed of our office policy regarding missed appointments.  We will remind everyone of this policy when we call to confirm the date and time (see “Missed Appointments” below). Kindly contact us in advance if you cannot keep your appointment.</p>
				</div>
			</div>
		</section>

		<section class="outer policy-post">
			<div class="section group">
				<div class="col span_1_of_2">
					<h2>Referrals</h2>
				</div>
				<div class="col span_1_of_2">
					<p>It is your responsibility to make certain that the appropriate referrals are in place PRIOR to your visit. We can usually tell you whether your insurance company requires a referral. Please take the time to confirm with us that all necessary referrals have been received ahead of time. If your referral is not in place at the time of your visit, this will delay your visit.  Further, if it is not possible to obtain the referral while you are waiting at our office you will have the choice of A) paying out of pocket for the visit or B) rescheduling your 
					appointment.</p>
				</div>
			</div>
		</section>

		<section class="outer policy-post">
			<div class="section group">
				<div class="col span_1_of_2">
					<h2>Late Appointments</h2>
				</div>
				<div class="col span_1_of_2">
					<p>Patients who arrive more than 15 minutes after their scheduled appointment time will be seen at the discretion of the practice manager; of course, late patients will not be seen ahead of patients who arrive on time.</p>
				</div>
			</div>
		</section>

		<section class="outer policy-post">
			<div class="section group">
				<div class="col span_1_of_2">
					<h2>Missed Appointments</h2>
				</div>
				<div class="col span_1_of_2">
					<p>When you make an appointment, you ask us to reserve a specific time for you. We always honor our portion of the agreement—we are in the office and ready to see you. Because this time slot was reserved, when someone fails to show up for their appointment our time is wasted—we can’t “give away” that appointment time to someone else. Patients who miss their appointment, or who cancel less than 24 hours in advance, will be charged a fee to reschedule an appointment. This fee is not covered by insurance and it to be paid prior to our scheduling a new appointment.</p>
				</div>
			</div>
		</section>

		<section class="outer policy-post">
			<div class="section group">
				<div class="col span_1_of_2">
					<h2>Office Rules</h2>
				</div>
				<div class="col span_1_of_2">
					<ol>
						<li>The parent/legal guardian authorizes the insurance company to pay PediatricEyeMD for services provided.</li>
					 	<li>The parent/legal guardian/patient is responsible for all necessary referrals, co-payments, deductibles, and co-insurances.</li>
					 	<li>Co-payments are collected at the time of service; we accept cash and credit cards only (no checks).</li>
					 	<li>If the insurance plan does not pay for services provided, or for part of the services, then it is the responsibility of the parent/legal guardian/patient to pay for these non-covered services when billed.</li>
					</ol>
				</div>
			</div>
		</section>
	</section>




{% include "footer" %}