{% include "header" %}

	<section class="forms">
    <div class="section group">
			<div class="col span_2_of_2">
				<h1>Services</h1>
			</div>
		</div>
	</section>

	<section class="services">
		<section class="outer services-post">
			<div class="section group">
				<div class="col span_1_of_2">
					<h2>Pediatric Ophthalmology</h2>
					<p class="services-push"><a href="/glossary/amblyopia">Amblyopia</a></p>

					<p class="services-push"><a href="/glossary/cataract">Cataract</a></p>

					<p><a href="/glossary/oculoplastics">Oculoplastics</a></p><br />
					<ul>
						<li><a href="/glossary/chalazion">Chalazion</a></li>
						<li><a href="/glossary/epiblepharon">Epiblepharon</a></li>
						<li><a href="/glossary/tear-duct-obstruction">Tear Duct Obstruction</a></li><br />
					</ul>

					<p><a href="/glossary/glasses">Glasses</a></p><br />
					<ul>
						<li><a href="/glossary/astigmatism">Astigmatism</a></li>
						<li><a href="/glossary/anisoastigmatism">Anisoastigmatism</a></li>
						<li><a href="/glossary/hyperopia">Hyperopia</a></li>
						<li><a href="/glossary/anisohyperopia">Anisohyperopia</a></li>
						<li><a href="/glossary/myopia">Myopia</a></li><br />
					</ul>

					<p><a href="/glossary/pink-eye">Pink Eye</a></p><br />
					<ul>
						<li><a href="/glossary/viral-conjunctivitis">Viral Conjunctivitis</a></li>
						<li><a href="/glossary/allergic-conjunctivitis">Allergic Conjunctivitis</a></li><br />
					</ul>

					<p><a href="/glossary/strabismus">Strabismus</a></p><br />
					<ul>
						<li><a href="/glossary/esotropia">Esotropia</a></li>
						<li><a href="/glossary/pseudostrabismus">Pseudostrabismus</a></li>
						<li><a href="/glossary/exotropia">Exotropia</a></li>
						<li><a href="/glossary/hypertropia">Hypertropia</a></li>
						<li><a href="/glossary/duane-syndrome">Duane Syndrome</a></li>
						<li><a href="/glossary/convergence-insufficiency">Convergence Insufficiency</a></li>
						<li><a href="/glossary/strabismus-surgery">Strabismus Surgery</a></li>
					</ul>
				</div>

				<div class="col span_1_of_2">
					<h2>Adult Strabismus</h2>
					<p><a href="/glossary/strabismus">Strabismus</a></p><br />
					<ul>
						<li><a href="/glossary/esotropia">Esotropia</a></li>
						<li><a href="/glossary/exotropia">Exotropia</a></li>
						<li><a href="/glossary/hypertropia">Hypertropia</a></li>
						<li><a href="/glossary/duane-syndrome">Duane Syndrome</a></li>
						<li><a href="/glossary/convergence-insufficiency">Convergence Insufficiency</a></li>
						<li><a href="/glossary/strabismus-surgery">Strabismus Surgery</a></li>
					</ul>

 					<div class="glossary-blog">
 						<div class="glossary-teaser-services">
 							<h4></h4>
 							<div class="img-wrapper">
 								<a href="/glossary"><img src="/assets/exotropia.png"></a>
 								<div class="glossary-cta-services	">
	 								<a href="/glossary">
	 									<button class="standard-button">
	 										<h4>See disorders in the Glossary</h4>
	 									</button>
	 								</a>
	 							</div>
 							</div>
 						</div>
 					</div>
 				</div>
		</section>
	</section>

	<section class="email">
 		<div class="section group">
 			<div class="col span_1_of_2">
 			 	<h4>General Information</h4>
 			 	<a href="mailto:info@pediatriceyemd.com?subject=General Inquiry for PediatricEyeMD" target="_blank">
					<button class="standard-button">
					 	<h4>Email Us</h4>
					</button>
				 	</a>
				 	<h4 class="location-note">We cannot make appointments via e-mail – please call us.</h4>
 			</div>
 			<div class="col span_1_of_2">
 			 	<h4>Surgical Coordinator</h4>
 			 	<a href="mailto:surgery@pediatriceyemd.com?subject=Surgical Inquiry for PediatricEyeMD" target="_blank">
					<button class="standard-button">
					 	<h4>Email Us</h4>
					</button>
				 	</a>
				 	<h4 class="location-note">We cannot make appointments via e-mail – please call us.</h4>
 			</div>
 		<div>
 	</section>

<!-- 		<section class="outer services-post">
			<div class="section group">
				<div class="col span_1_of_2">
					<h2>Astigmatism</h2>
				</div>
				<div class="col span_1_of_2">
					<p>A refractive error caused by an abnormality in the curvature of the cornea and/or the lens.<br /><a href="/" target="_blank">Read more.</a></p>
				</div>
			</div>
		</section>

		<section class="outer services-post">
			<div class="section group">
				<div class="col span_1_of_2">
					<h2>Anisoastigmatism</h2>
				</div>
				<div class="col span_1_of_2">
					<p>When each eye has a different degree of astigmatism, this is termed anisometropic astigmatism. <br /><a href="/" target="_blank">Read more.</a></p>
				</div>
			</div>
		</section>

		<section class="outer services-post">
			<div class="section group">
				<div class="col span_1_of_2">
					<h2>Hyperopia</h2>
				</div>
				<div class="col span_1_of_2">
					<p>Hyperopic people cannot properly focus on objects that are close up or far away. Also known as "far-sighted". <br /><a href="/" target="_blank">Read more.</a></p>
				</div>
			</div>
		</section>

		<section class="outer services-post">
			<div class="section group">
				<div class="col span_1_of_2">
					<h2>Anisohyperopia</h2>
				</div>
				<div class="col span_1_of_2">
					<p>When each eye has a different degree of hyperopia, this is termed anisometropic hyperopia (aniso is Greek for “different” and metropia means “focusing error”). The problem with anisometropia is that one eye focuses pretty well (or perfectly well) and the other eye does not focus as well.<br /><a href="/" target="_blank">Read more.</a></p>
				</div>
			</div>
		</section>

		<section class="outer services-post">
			<div class="section group">
				<div class="col span_1_of_2">
					<h2>Myopia</h2>
				</div>
				<div class="col span_1_of_2">
					<p>Refractive error in which the uncorrected vision is better at near than it is at distance. Also called nearsighted. <br /><a href="/" target="_blank">Read more.</a></p>
				</div>
			</div>
		</section>

		<section class="outer services-post">
			<div class="section group">
				<div class="col span_1_of_2">
					<h2>Strabismus</h2>
				</div>
				<div class="col span_1_of_2">
					<p>Strabismus is a visual defect in which the eyes are misaligned and point in different directions. Strabismus is a fairly common condition among children <br /><a href="/" target="_blank">Read more.</a></p>
				</div>
			</div>
		</section>

		<section class="outer services-post">
			<div class="section group">
				<div class="col span_1_of_2">
					<h2>Esotropia</h2>
				</div>
				<div class="col span_1_of_2">
					<p>Esotropia is in-turning of one or both eyes. It may be intermittent or constant and may occur with near fixation, distance fixation, or both.<br /><a href="/" target="_blank">Read more.</a></p>
				</div>
			</div>
		</section>
	</section> -->

{% include "footer" %}
