{% include "header" %}

	<section class="forms">
    <div class="section group">
			<div class="col span_2_of_2">
				<h1>Visiting Us</h1>
			</div>
		</div>
	</section>

<!-- <section class="outer forms">
    <div class="section group">
    	<a  href="" target="blank"><div class="col span_1_of_2 child-form">
				<h2>Your Child’s First Visit</h2>
				<p>
					Review everything you need to know about your child’s first visit. Find out what information you’ll need to provide, and what you can expect.
				</p>
			</div></a>
    	<a  href="/forms" target="blank"><div class="col span_1_of_2 child-form">
				<h2>Forms</h2>
				<span>
					Download the appropriate forms in advance of your first visit. Including New Pediatric Patient and New Adult Patient forms—available in both English and Spanish.
				</span>
			</div></a>
		</div>
	</section> -->

	<section class="outer forms">
    <div class="section group">
    	<div class="col span_1_of_2 insurance-form">
				<h2>Your Child’s First Visit</h2>
				<p>Review everything you need to know about your child’s first visit. Find out what information you’ll need to provide, and what you can expect.</p>
			</div>
			<div class="col span_1_of_2 insurance-form">
				<a href="https://www.youtube.com/watch?v=v7UCn6npC20" >
		 			<button class="standard-button">
		 				<h4>Review</h4>
		 			</button>
		 		</a>
			</div>
		</div>
	</section>

	<section class="outer">
    <div class="section group">
    	<div class="col span_2_of_2 hoz-rule">
    	</div>
		</div>
	</section>

	<section class="outer forms">
    <div class="section group">
    	<div class="col span_1_of_2 insurance-form">
				<h2>Forms</h2>
				<p>Review and download the appropriate forms in advance of your first visit. Including New Pediatric Patient and New Adult Patient forms—available in both English and Spanish.</p>
			</div>
			<div class="col span_1_of_2 insurance-form">
				<a href="/forms">
		 			<button class="standard-button">
		 				<h4>Review</h4>
		 			</button>
		 		</a>
			</div>
		</div>
	</section>

	<section class="outer">
    <div class="section group">
    	<div class="col span_2_of_2 hoz-rule">
    	</div>
		</div>
	</section>

	<section class="outer forms">
    <div class="section group">
    	<div class="col span_1_of_2 insurance-form">
				<h2>Insurance</h2>
				<p>This list identifies the plans that we participate with. Some of these plans require that you obtain a written
				referral from a primary care physician (pediatrician, family practitioner, internist) for a specialist visit to
				be covered. Download the list to learn which plans require a referral.</p>
			</div>
			<div class="col span_1_of_2 insurance-form">
				<a href="/insurances">
		 			<button class="standard-button">
		 				<h4>Review</h4>
		 			</button>
		 		</a>
			</div>
		</div>
	</section>

	<section class="outer">
    <div class="section group">
    	<div class="col span_2_of_2 hoz-rule">
    	</div>
		</div>
	</section>

		<section class="outer forms">
    <div class="section group">
    	<div class="col span_1_of_2 hippa-form">
				<h2>HIPAA</h2>
				<p>This is a Notice of Privacy Practices as Required by the Privacy Regulations Created as a Result of the Health
				Insurance Portability and Accountability Act of 1996 (HIPAA).</p>
			</div>
    	<div class="col span_1_of_2 hippa-form">
				<a href="/">
	 				<button class="standard-button">
	 					<h4>Download</h4>
	 				</button>
	 			</a>
			</div>
		</div>
	</section>

	<section class="outer">
    <div class="section group">
    	<div class="col span_2_of_2 push">
    	</div>
		</div>
	</section>

	 <section class="email">
 		<div class="section group">
 			<div class="col span_1_of_2">
 			 	<h4>General Information</h4>
 			 	<a href="mailto:info@pediatriceyemd.com?subject=General Inquiry for PediatricEyeMD" target="_blank">
					<button class="standard-button">
					 	<h4>Email Us</h4>
					</button>
				 	</a>
				 	<h4 class="location-note">We cannot make appointments via e-mail – please call us.</h4>
 			</div>
 			{% comment %}<div class="col span_1_of_2">
 			 	<h4>Surgical Coordinator</h4>
 			 	<a href="mailto:surgery@pediatriceyemd.com?subject=Surgical Inquiry for PediatricEyeMD" target="_blank">
					<button class="standard-button">
					 	<h4>Email Us</h4>
					</button>
				 	</a>
				 	<h4 class="location-note">We cannot make appointments via e-mail – please call us.</h4>
 			</div>{% endcomment %}
 		<div>
 	</section>


{% include "footer" %}
